*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.task1{
    background-color: #333333;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 600px;
    margin: 30px auto;
    gap: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.panel{
    width: 200px;
    height: 200px;
    background-color: #00cc99;
    color: #ffffff;
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
}
.panel1{
    position: relative;
    top: 35px;
    left: 35px;
}
.panel3{
    position: relative;
    top: 35px;
    right: 35px;
}
.panel6{
    position: relative;
    bottom: 35px;
    left: 35px;
}
.panel8{
    position: relative;
    bottom: 35px;
    right: 35px;
}
.task1 .center{
    border-radius: 50%;
    background-color: #009999;
}

.task2__box{
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border-radius: 10px;
}
.red{
    background: red;
}
.green{
    background-color: green;
    top: 0;
    right: 0;
}
.blue{
    background-color: blue;
    bottom: 0;
}
.purple{
    background-color: purple;
    bottom: 0;
    right: 0;
}
.grey{
    background-color: grey;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}